# Petrosea EcoLogix - Environment Configurations

# Redis API Caching & Background Workers (Optional for Production)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# External API Timeout Configuration (Seconds)
BMKG_API_TIMEOUT=4
OPEN_METEO_API_TIMEOUT=3

# Streamlit Server Config
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_HEADLESS=true
